/* ------------ Team member section -----------------  */


.box {
    width: 70%;
    height: 340px;
    background-color: #394165;
    display: flex;
    flex-direction: column;
    border-radius: .2rem;
    align-items: center;
    justify-content: space-between;
    padding: 5% 0% 0% 0%;
}

.nav {
    display: flex;
    align-items: center;
    margin-left: 80%;
}

.nav button {
    background: none;
    border: none;
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.details section {
    width: 80%;
    height: 100px;
    border-radius: 50%;
    background: #787878;
}

.details strong {
    font-weight: 3rem;
    color: #ffffff;
    letter-spacing: .05rem;
    margin-top: 10px;
}

.details p {
    font-size: 0.8rem;
    color: #7a7a7a;
    margin: 5% 0%;
}

.like-section {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.like-section .top-bar {
    background: #5cbff1;
    height: 5px;
}


.views-section {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.views-section .top-bar {
    background: #ecb368;
    margin-right: 1%;
    height: 5px;
}

.comments-section {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.comments-section .top-bar {
    background: #d25470;
    margin-right: 1%;
    height: 5px;
}



.team-member-footer {
    width: 100%;
    display: flex;
}

.team-member-footer .comments-views-likes {
    display: flex;
    align-items: center;
    background: #50587c;
    height: 60px;
    justify-content: center;
    margin-right: 1%;
    color: #fff;
}

.team-member-footer .comments-views-likes span {
    margin-left: 8%;
}

/* -------- Weather Update Section ------------ */

.weather-updates-section {
    width: 70%;
    display: flex;
    flex-direction: column;
    border: .2rem;
    margin-top: 10%;
    justify-content: space-between;
}

.weather-updates-top-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    color: #fff;
    background: #cc324c;
}

.weather-updates-top-bar .location {
    margin-right: 3%;
}

.date-temp-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e64c66;
}

.date-temp-section .date {
    font-size: 20px;
    color: #ffd4dc;
    margin-top: 5%;
}

.date-temp-section .temp {
    font-size: 40px;
    color: #fffc;
    margin-bottom: 3%;
    margin-top: 3%;
}

.day-wise-weather-updates {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.week-day-weather {
    width: 100%;
    background: #394165;
    display: flex;
    align-items: center;
    padding: 5%;
    margin-bottom: .3%;
}

.week-day-weather .day {
    font-size: .8rem;
    color: #fff;
}

.week-day-weather .date {
    font-size: .8rem;
    margin-left: 5%;
    color: #6b7397;
}

.week-day-weather .temp {
    font-size: .8rem;
    margin-left: 45%;
    color: #e9eff6;
}

.week-day-weather img {
    margin-left: 5%;
    margin-right: 2%;
}



/* ----------- Tweets section ------------ */


.tweets-section {
    width: 70%;
    float: right;
    display: flex;
    margin-top: 10%;
    flex-direction: column;
}

.tweets-section .latest-tweets {
    background: #35aadd;
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
    padding: 5%;
}

.latest-tweets .latest-tweets-bar {
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fff;
    width: 100%;
}

.tweet-1 {
    display: flex;
    flex-direction: column;
    padding: 10%;
    background: #394165;
    color: #fff;
    font-size: 14px;
}

.tweet-posted-at {
    margin-top: 10px;
    color: #8b94b5;
}


.tweet-2 {
    display: flex;
    flex-direction: column;
    padding: 10%;
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem;
    background: #394165;
    color: #fff;
    margin-top: .5%;
    font-size: 14px;
}



/* ----------- Share to Socail Handles ---------- */
.share-to-social-handles {
    width: 70%;
    display: flex;
    margin-top: 10%;
    flex-direction: column;
}

.social-handles-facebook {
    display: flex;
    align-items: center;
    border-radius: .2rem;
    background: #3469af;
    margin: 2%;
}


.social-handles-facebook .facebook {
    margin-left: 10%;
    color: #fff;
    padding: 5% ;
}

.social-handles-facebook .logo-image {
    align-items: center;
    height: 60px;
    width: 15%;
    justify-content: center;
    padding: 2%;
    background: #3469af;
}

.social-handles-facebook .logo-image img {
    margin-top: 10%;
}



.social-handles-twitter {
    display: flex;
    align-items: center;
    border-radius: .2rem;
    background: #4fc4f7;
    margin: 2%;
}

.social-handles-twitter .twitter {
    margin-left: 10%;
    color: #fff;
    padding: 5% ;
}

.social-handles-twitter .logo-image {
    align-items: center;
    height: 60px;
    width: 15%;
    padding: 3%;
    background: #32aadd;
}

.social-handles-twitter .logo-image img {
    margin-top: 15%;
}


.social-handles-google {
    display: flex;
    align-items: center;
    border-radius: .2rem;
    background: #e64c66;
    margin: 2%;
}

.social-handles-google .google {
    margin-left: 10%;
    color: #fff;
    padding: 5% ;
}

.social-handles-google .logo-image {
    align-items: center;
    height: 60px;
    width: 15%;
    padding: 3%;
    background: #cc324c;
}

.social-handles-google .logo-image img {
    margin-top: 30%;
}

