@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-color: #1f253d;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    --pink: #ff74a4;
    --violet: #9f6ea3;
    --green-color: #11a8ab;
    --red-color: #e64c65;
    --blue-color: #4fc4f6;
    --dark-blue-color: #3468af;
}

.main-body {
    width: 80%;
    display: flex;
    margin-left: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ------------ Nav Bar -----------------  */
.nav-bar {
    width: 100%;
    background: #394165;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    overflow: hidden;
    border-radius: 4px;
    height: 50px;
}

.nav-items {
    display: flex;
    color: #FFFFFF;
    background: #394165;
    margin: 0px 20px 0px 25px;
    align-items: center;
}

.nav-items img {
    margin-right: 10px;
}

.profile {
    align-items: center;
    display: flex;
    padding: 20px;
    color: #ffffff;
    margin-left: 20vw;
}

.profile button {
    background: none;
    border: none;
}

.profile img {
    margin-left: 5px;
}


.parent-container {
    display: grid;
    grid-template-columns: 33% 33% 40%;
    width: 100%;
    align-items: center;
}


.parent-column-2 {
    margin-left: .5%;
    margin-right: .5%;
}

.parent-column-1,
.parent-column-2,
.parent-column-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


@media (max-width: 1250px) {
    .main-body {
       width: 100%;
    }
    .parent-container {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100%;
        align-items: center;
    }

    .parent-column-1,
    .parent-column-2,
    .parent-column-3 {
        width: 100%;
    }

    .parent-column-1 {
        margin-bottom: 10%;
    }

} 


@media (max-width: 800px) {
    .parent-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .parent-column-1,
    .parent-column-2,
    .parent-column-3 {
        width: 100%;
    }

    .parent-column-1 {
        margin-bottom: 10%;
    }

    .parent-column-2 {
        margin-bottom: 10%;
    }

} 


@media (max-width: 400px) {

    .parent-container {
        display: flex;
        flex-direction: column;
        width: 150%;
        align-items: center;
    }

    .parent-column-1,
    .parent-column-2,
    .parent-column-3 {
        width: 100%;
    }

    .parent-column-1 {
        margin-bottom: 10%;
    }

    .parent-column-2 {
        margin-bottom: 10%;
    }


} 