/* ------------ Join News Letter -----------------  */
.join-news-letter {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .2rem;
    background: #394165;
    padding: 10% 0% 10% 0%;
}

.join-news-letter h4 {
    text-align: center;
    color: #fff;
}

.join-news-letter h4 {
    text-align: center;
    color: #fff;
}

.join-news-letter .email-box {
    width: 70%;
    display: flex;
    padding: 2%;
    border-radius: 0.2rem;
    align-items: center;
    background: #50587c;
}

.email-box .text-area {
    background: #50587c;
    width: 70%;
    border: none;
    text-align: center;
}

.join-news-letter .subscribe {
    height: 45px;
    background: #10a8ab;
    color: #fff;
    overflow: hidden;
    width: 35%;
    font-size: .9rem;
    margin: 5% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    border: none;
    border-radius: 0.1rem;
}



/* ----------- Sign In To Account ---------- */

.account-sign-in {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .2rem;
    margin-top: 10%;
    background: #394165;
    padding: 10% 0% 10% 0%;
}


.account-sign-in h4 {
    text-align: center;
    color: #fff;
}

.account-sign-in .email-box {
    width: 70%;
    display: flex;
    padding: 2%;
    border-radius: 0.2rem;
    align-items: center;
    background: #50587c;
}

.account-sign-in .pass-box {
    width: 70%;
    display: flex;
    margin-top: 2%;
    padding: 2%;
    border-radius: 0.2rem;
    align-items: center;
    background: #50587c;
}

.email-box .text-area {
    background: #50587c;
    width: 70%;
    border: none;
    text-align: center;
}

.pass-box .text-area {
    background: #50587c;
    width: 70%;
    border: none;
    text-align: center;
}

.account-sign-in .sign-in {
    height: 45px;
    background: #f63765;
    color: #fff;
    width: 35%;
    font-size: .9em;
    text-overflow: clip;
    margin: 5% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    border: none;
    border-radius: 0.1rem;
}

.account-sign-in span {
    margin: 5% 0% 0% 0%;
    color: #8a93b4;
}


/* ----------- Downloading and Uploading section ------------ */

.download-upload-section {
    width: 60%;
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    padding: 5%;
    background: #394165;
    border-radius: .2rem;
}

.download-section {
    margin: 10% 10%;
    display: flex;
    flex-direction: column;
}

.download-bar-container {
    background-color: #50587c;
    width: 100%;
    height: 20px;
    border-radius: 0.2rem;
}

.download-bar {
    background-color: #10a8ab;
    color: white;
    padding: 1%;
    height: inherit;
    font-size: 20px;
    border-radius: 0.2rem;
}

.download-progress {
    width: 80%;
}

.download-percentage {
    margin-top: 5%;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: space-between;
}

.upload-section {
    margin: 0% 10%;
    display: flex;
    flex-direction: column;
}

.upload-bar-container {
    background-color: #50587c;
    width: 100%;
    height: 20px;
    border-radius: 0.2rem;
}

.upload-bar {
    background-color: #4fc4f7;
    color: white;
    padding: 1%;
    height: inherit;
    font-size: 20px;
    border-radius: 0.2rem;
}

.upload-progress {
    width: 43%;
}

.upload-percentage {
    width: 100%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: space-between;
}


/* ----------- Add Event ---------- */

.addevent {
    width: 60%;
    float: right;
    display: flex;
    margin-top: 10%;
    flex-direction: column;
}

.addevent .weekday {
    background: #195092;
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
    padding: 10% 10%;
}

.weekday .top-bar {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    display: flex;
    width: 100%;
}

.weekday .top-bar .center {
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .1rem;
}

.weekday .left-arrow {
    float: left;
}

.weekday.right-arrow {
    float: right;
}


.mid-section {
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem;
    display: flex;
    flex-direction: column;
    background: #3469af;
    color: #fff;
    height: 200px;
    align-items: center;
    justify-content: center;
}

.mid-section .date {
    font-size: 3rem;
}

.mid-section .addeventbtn {
    margin: 5%;
    background: #53c2f9;
    border: none;
    width: 40%;
    color: #fff;
    height: 35px;
    border-radius: .2rem;
}


/* ----------- Calender ---------- */

.calender {
    width: 60%;
    float: right;
    display: flex;
    margin-top: 10%;
    flex-direction: column;
}

.month {
    background: #3667b3;
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
    padding: 10% 10%;
}

.month .top-bar {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
}

.month .top-bar .center {
    color: white;
    margin-right: 15%;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.month .left-arrow {
    float: left;
    margin-right: 20%;
}

.month .right-arrow {
    float: right;
}

.weekdays {
    margin: 0;
    padding: 5% 2%;
    background-color: #394165;
}

.weekdays li {
    display: inline-block;
    width: 12%;
    color: #6595bc;
    text-align: center;
}

.days {
    padding: 2% 0% 2% 0%;
    background: #394165;
    margin: 0;
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem;
    margin-bottom: 2%;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 12%;
    text-align: center;
    margin-bottom: 2%;
    font-size: 12px;
    color: #8b93b7;
}

.days li .active {
    padding: 10%;
    border-radius: 3rem;
    color: #fff;
    background: #f63765;

}