/* ------------ Menu Box -----------------  */

.container {
    padding: 0px;
}

.card {
    width: 70%;
    background-color: #394165;
    border-radius: .2rem;
}

.header {
    width: 100%;
    border-radius: 2% 2% 0px 0%;
    padding: 5%;
    background-color: #10a8ab;
}

.card h3 {
    color: #FFFFFF;
    margin-left: 3.5rem;
}

.body .body-items {
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
    padding: 10%;
    color: #fff;
    margin-bottom: 10%;
}

.body-items img {
  margin-right: 10%;
}




/* ----------- Audience Stats section ------------> */

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.audience-os-stats {
    width: 70%;
    height: 350px;
    background-color: #394165;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5% 0% 0% 0%;
    border-radius: 3px;
    margin-top: 10%;
}

.audience-os-stats .audience-os-stats-heading span {
    color: #fff;
    letter-spacing: .1rem;
    justify-content: center;
}

.audience-os-stats-graph {
    width: 45%;
    height: 120px;
    border-radius: 60%;
    background: #787878;
}

.audience-os-stats-footer {
    width: 100%;
    display: flex;
}

.ios-os-version-container {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.ios-os-version-container .top-bar {
    background: #d25470;
    margin-right: 2%;
    height: 5px;
}

.mac-os-version-container {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.mac-os-version-container .top-bar {
    background: #14a4aa;
    margin-right: 2%;
    height: 5px;
}


.linux-os-version-container {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.linux-os-version-container .top-bar {
    background: #ecb368;
    margin-right: 2%;
    height: 5px;
}

.win-os-version-container {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.win-os-version-container .top-bar {
    background: #5cbff1;
    margin-right: 2%;
    height: 5px;
}

.os-version {
    width: 100%;
    display: flex;
    align-items: center;
    background: #50587c;
    height: 60px;
    justify-content: center;
    margin-right: 2%;
    color: #fff;
}

.os-version span {
    margin-left: 8%;
}


/* -------- stocks-analysis ------------ */

.stocks-analysis {
    background: #394165;
    width: 70%;
    display: flex;
    margin-top: 10%;
    flex-direction: column;
}

.stock-analysis-image {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: var(--green-color);
}

.analysis-options {
    background: #394165;
    width: 100%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

.analysis-button {
    width: 25%;
    height: 1.5rem;
    color: white;
    background-color: #50597b;
    border: none;
    border-radius: 5px;
    margin-right: 0.25rem;
}

.analysis-button-month {
    background-color: var(--red-color);
}

.analysis-months-container {
    display: flex;
    flex-direction: column;
    background: #394165;
    justify-content: center;

}

.analysis-month {
    display: flex;
    color: #fff;
    margin-left: 10%;
    margin-bottom: 5%;
}

.analysis-month-text {
    margin-right: 0.5rem;
}

.analysis-year {
    color: #8891af;
    margin-right: 40%;
}

.analysis-percent {
    display: flex;
}

.analysis-plus {
    color: var(--red-color);
}

.analysis-percent-symbol {
    font-size: 0.7rem;
}


/* ----------- Media Player section ------------> */

.media-player-section {
    display: flex;
    width: 70%;
    margin-top: 10%;
    flex-direction: column;
}

.media-player-section .media-image-area {
    background: #787878;
    width: 100%;
    display: flex;
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.progress-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progress-area {
    height: 6px;
    width: 80%;
    border-radius: .5rem;
    background: #51597d;
    cursor: pointer;
}

.progress-area .progress-bar {
    height: inherit;
    width: 50%;
    position: relative;
    border-radius: inherit;
    background: #e54c68;
}

.progress-bar::before {
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    top: 50%;
    right: -5px;
    z-index: 2;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(-50%);
    background: inherit;
    transition: opacity 0.2s ease;
}

.progress-area:hover .progress-bar::before {
    opacity: 1;
    pointer-events: auto;
}

.controls {
    display: flex;
    flex-direction: row;
    color: #fff;
    border-radius: .2rem;
    padding: 3.5%;
    background: #394165;
    align-items: center;
    justify-content: space-between;
}

.controls .timer {
    margin-left: 10%;
}