/* ------------ Team member section -----------------  */


.box {
    width: 300px;
    height: 340px;
    background-color: #394165;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 0px 20px;
    border-radius: 3px;
    position: relative;
}

.nav button {
    background: none;
    border: none;
    margin-left: 200px;
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.details section {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #787878;
}

.details strong {
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 1px;
    margin-top: 10px;
}

.details p {
    font-size: 0.8rem;
    color: #7a7a7a;
    margin: 5px 0px;
}

.like-section {
    display: flex;
    flex-direction: column;
}

.like-section .top-bar {
    background: #5cbff1;
    margin-right: 2px;
    height: 5px;
}


.views-section {
    display: flex;
    flex-direction: column;
}

.views-section .top-bar {
    background: #ecb368;
    margin-right: 2px;
    height: 5px;
}

.comments-section {
    display: flex;
    flex-direction: column;
}

.comments-section .top-bar {
    background: #d25470;
    margin-right: 2px;
    height: 5px;
}



.team-member-footer {
    display: flex;
    justify-content: space-between;
}

.team-member-footer .comments-views-likes {
    display: flex;
    align-items: center;
    background: #50587c;
    width: 98px;
    height: 60px;
    justify-content: center;
    margin-right: 2px;
    color: #fff;
}

.team-member-footer .comments-views-likes span {
    margin-left: 8px;
}



@media(max-width:612px) {
    .box {
        flex-grow: 0.7;
    }
}


/* -------- Weather Update Section ------------ */

.weather-updates-section {
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 3px;
    margin-top: 20px;
    justify-content: space-between;
}

.weather-updates-top-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #fff;
    background: #cc324c;
}

.weather-updates-top-bar .location {
    margin-right: 15px;
}

.date-temp-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e64c66;
}

.date-temp-section .date {
    font-size: 20px;
    color: #ffd4dc;
    margin-top: 10px;
}

.date-temp-section .temp {
    font-size: 40px;
    color: #fffc;
    margin-bottom: 10px;
    margin-top: 10px;
}

.day-wise-weather-updates {
    display: flex;
    flex-direction: column;
}

.week-day-weather {
    background: #394165;
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 2px;
}

.week-day-weather .day {
    color: #fff;
}

.week-day-weather .date {
    margin-left: 10px;
    color: #6b7397;
}

.week-day-weather .temp {
    margin-left: 120px;
    margin-right: 10px;
    color: #e9eff6;
}



/* ----------- Tweets section ------------ */


.tweets-section {
    width: 300px;
    float: right;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}

.tweets-section .latest-tweets {
    background: #35aadd;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.latest-tweets .latest-tweets-bar {
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fff;
    width: 100%;
}

.tweet-1 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #394165;
    color: #fff;
    font-size: 14px;
}

.tweet-posted-at {
    margin-top: 10px;
    color: #8b94b5;
}


.tweet-2 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: #394165;
    color: #fff;
    margin-top: 2px;
    font-size: 14px;
}



/* ----------- Share to Socail Handles ---------- */
.share-to-social-handles {
    width: 300px;
    height: 100px;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
}

.social-handles-facebook {
    display: flex;
    align-items: center;
    border-radius: 3px;
    background: #3469af;
    margin: 10px;
}


.social-handles-facebook .facebook {
    margin: 10px;
    color: #fff;
    padding: 10px;
}

.social-handles-facebook .logo-image {
    align-items: center;
    height: 60px;
    width: 40px;
    padding: 5px;
    background: #3469af;
}

.social-handles-facebook .logo-image img {
    margin-top: 12px;
}




.social-handles-twitter {
    display: flex;
    align-items: center;
    border-radius: 3px;
    background: #4fc4f7;
    margin: 10px;
}

.social-handles-twitter .twitter {
    margin: 10px;
    color: #fff;
    padding: 10px;
}

.social-handles-twitter .logo-image {
    align-items: center;
    height: 60px;
    width: 40px;
    padding: 5px;
    background: #35aadd;
}

.social-handles-twitter .logo-image img {
    margin-top: 12px;
}


.social-handles-google {
    display: flex;
    align-items: center;
    border-radius: 3px;
    background: #e64c66;
    margin: 10px;
}

.social-handles-google .google {
    margin: 10px;
    color: #fff;
    padding: 10px;
}

.social-handles-google .logo-image {
    align-items: center;
    height: 60px;
    width: 40px;
    padding: 8px;
    background: #cc324c;
}

.social-handles-google .logo-image img {
    margin-top: 12px;
}